
<header class="header">
    <div class="navbar shadow-sm" style="background-image: linear-gradient(to right top, #f2ef9e, #f0ca70, #efa14e, #ec743d, #e43d3d);">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 32px; margin: 6px 2px; color: #0f0101;" class="fas fa-shopping-basket">&nbsp;
            </i>
            <strong style="font-size: 30px; font-family: cursive; font-weight: 800; color: #a80d0d;" > Licious </strong>

            <ul class="Nav">
              <li >
                <a  routerLink="/home">Home</a>
                <a routerLink="/products">Products</a>
                <a routerLink="/about">Features</a>
                <a routerLink="/review">Catagories</a>
                <a routerLink="/about">Blocks</a>
                <a routerLink="/review">Review</a>
              </li>
            </ul>



            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button type="button" class="btn " style="border: 10px;color: #f0230c; font-weight: 800; background-color: rgb(11, 11, 11);" (click)="logOut()" routerLinkActive="router-link-active" >Log out</button>
        <button routerLink="cart" class="btn btn-outline-light" style="border: 10px;">
            <i style="font-size: 30px;color: #c30909;" class="fas fa-cart-plus" routerLink="/cart"></i>
            <div style="font-size: 10px;" class="badge bg-dark">{{totalItem}}</div>
        </button>
    </div>
</header>

