.form-control {
    border-radius: 7px;
    width: 300px;
    margin-left: 100px;
    margin-right: 0PX;
    margin-top: 6px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 16%;
    top: 27px;
    color: rgb(243, 27, 12);
}
.Nav{
  margin: 10px 5px;
}
.Nav li a{
  text-decoration: none;
  color: rgb(11, 9, 9);
  margin: 2px 7px;
font-weight: 450;

}

.Nav li a:hover{
  color: rgb(172, 20, 10);
  font-weight: 700;

}
